*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: brown;
}

header{
    height: 150px;
    margin: 20px 0;
    background-color: #E579E6;
}

.yellow{
    height: 400px;
    margin: 20px 0;
    background-color: #E1D67A;
}

.blue-section{
    height: 500px;
    background-color: #0086FF;
}

.heading-blue-section{
    height: 100px;
    background-color: #ABCFE7;
}

.col-left,
.col-centre,
.col-right{
    height: 600px;
    background-color: #ABCFE7;
    border: 1px solid black;
}